<div class="modal-header">
  <h4 class="modal-title">{{confirmationTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [innerHTML]="confirmationMessage">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-basic width-cancel" (click)="activeModal.close(false)">Cancel</button>
  <button type="submit" class="btn btn-primary" (click)="confirm()">Confirm
  </button>
</div>
